<% layout("layouts/boilerplate")%>

    <div class="row">
        <h1 class="text-center">login Now !</h1>
    </div>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="username" class="form-control" id="username" name="username" required>
                              <div class="valid-feedback">
                Looks good!
              </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                              <div class="valid-feedback">
                Looks good!
              </div>
              </div>
            <!-- 
                <div class="mb-3">
                <label for="password2" class="form-label">confirm password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
                              <div class="valid-feedback">
                Looks good!
              </div>
              </div> -->
              <button class="btn btn-success">Login</button>

              </div>
              <script src="/js/validateForms.js"> </script>

        </form>
    </div>


